<div class="logo-container">
	<a href="~/User/Dashboard" class="logo">
		 
		<img src="~/Images/logo.png" width="170" />
	</a>
	<div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
		<i class="fas fa-bars" aria-label="Toggle sidebar"></i>
	</div>
</div>

<!-- start: search & user box -->
 